{% extends 'base.html' %}

{% block title %}Inicio - Tienda de Mascotas{% endblock %}

{% load static %}  <!-- Carga la etiqueta static -->

{% block content %}
<div class="container intro-section text-center">
    <h1>Bienvenidos a Puppy Pals</h1>
    <p style="max-width: 900px; margin: 0 auto;">Puppy Pals es un proveedor líder de productos de alta calidad para tus amigos peludos. Ofrecemos una amplia gama de juguetes, suministros de aseo y accesorios para mantener a tus cachorros felices y saludables.</p>
</div>

<div class="container mt-4">
    <h2>Sobre Nosotros</h2>
    <p>Puppy Pals se dedica a proporcionar los mejores productos y servicios para mascotas. Con años de experiencia en la industria, nuestro equipo está comprometido a garantizar la satisfacción de nuestros clientes y la salud y felicidad de sus mascotas.</p>
    <p>En Puppy Pals, creemos que las mascotas son parte de la familia, y nuestra misión es ayudarlas a vivir vidas largas, saludables y felices.</p>
    <p>Visítanos y descubre por qué somos el lugar favorito de los amantes de las mascotas.</p>
    <img src="{% static 'images/Dia-mundial-del-perro' %}" class="img-fluid mt-3" alt="Sobre Nosotros">
</div>
{% endblock %}